.popup__container {
    
}

@media screen and (max-width: 450px) {
    .popup__container {
      max-width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }